<div class="container">

    <h1> Adaugare / Editare user </h1>
    <form #f="ngForm" novalidate>
        <div class="form-group">
            <label for="nume">Nume</label>
            <input [(ngModel)]="selectedUser.nume" #nume="ngModel" type="text" class="form-control" name="nume" id="nume" aria-describedby="numeHelp" required minlegth="3" maxlength="250" pattern="^[a-zA-Z-]+$" 
            [class.is-invalid]="nume.invalid && (nume.dirty || nume.touched)">
            <small *ngIf="nume.valid" id="numeHelp" class="form-text text-muted"> Numele completat corect</small>
            <div *ngIf="nume.invalid && (nume.dirty || nume.touched)" class="invalid-feedback">
                <div *ngIf="nume.errors?.['required']">
                    Acest camp este obligatoriu.
                </div>
                <div *ngIf="nume.errors?.['minlegth']">
                    Acest camp trebuie sa aiba minim 3 caractere.
                </div>
                <div *ngIf="nume.errors?.['maxlength']">
                    Acest camp trebuie sa aiba maxim 250 caractere.
                </div>
                <div *ngIf="nume.errors?.['pattern']">
                    Acest camp trebuie sa contina doar caractere alfanumerice.
                </div>
            </div>
          </div>
          <div class="form-group">
            <label for="prenume">Prenume</label>
            <input type="text" class="form-control" name="prenume" id="prenume" aria-describedby="prenumeHelp" placeholder="Prenume">
            <small id="prenumeHelp" class="form-text text-muted">We'll never share your surname with anyone else.</small>
          </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="datanasterii">Data Nasterii</label>
            <input type="date" class="form-control" id="datanasterii" aria-describedby="datanasterii" placeholder="Data nasterii">
            <small id="datanasterii" class="form-text text-muted">We'll never share your birthday with anyone else.</small>
          </div>
        <div class="form-group">
          <label for="telefon">Telefon</label>
          <input type="text" class="form-control" id="telefon" placeholder="Telefon">
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button [disabled]="!f.valid" (click)="createOrUpdateUser(f)" type="submit" class="btn btn-primary">Submit</button>
      </form>

</div>