

{{ title }}
<br>
{{ 2 + 4}}
<br>
{{2 + '4'}}
<br>

<p [style.color] = "culoare">
  {{descriere}}
</p>
<br>
<!-- <p style ="color: {{culoare}}"">
  {{descriere}}
</p> -->
<br>
<img src="{{ imgSrc }}" alt="" style="max-width: 300px;">
<img *ngIf="afiseaza" [src]="imgSrc" alt="" style="max-width: 300px;">

<br>
<button (click)="showImg()">Afiseaza / Ascunde imaginea</button>
<br>
<button (click)="showImg2()">Afiseaza / Ascunde</button>
<br>
<button (click) = "nr = nr + 1" > Creste valoare cu 1</button>
<br>
<button (click)="nr = nr - 1" > Scade valoare cu 1</button>
<p [ngClass]="nr >= 7? 'green' : 'myclass'">Valoarea lui nr este {{ nr }}</p>


<br>


<form action="" method="post">

  <input [(ngModel)]="valoare" type="text" name="nume" id="nume" (input)="inputCount()">

  {{valoare}}
</form>

<h1> {{persoana.nume}} {{persoana.prenume}}</h1>

<h2> Eroi </h2>
<p>Eroii mei preferati sunt</p>
<ul>
    <li *ngFor="let erou of eroi">

      <span *ngIf="erou.id == 2">{{erou.id}} - {{erou.name}}</span>
    </li>
</ul>
<router-outlet></router-outlet>
